main{
	float:left;
	width: 80%;
}

.sidenav {
	float:right;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   background-color: green;
}

header{
	text-align: center;

}

